#This allows for command following sudo to be aliases
alias sudo='sudo '
alias rmt='rmtrash'
alias eclimd='~/eclipse/eclimd'
alias cat=lolcat
alias t='todo.sh -d ~/.todo.cfg'
alias vimrc='$EDITOR ~/.vimrc'
alias dirs='dirs -v'
alias em='emacsclient -t'
alias emacsd='emacs --daemon'
